<app-base-ui
  [title]="'Friends'"
  [titleOn]="true"
  [closeOn]="true"
  [closeRoute]="'/main'">
</app-base-ui>

<div class="main-container">
  <div class="add-friend-wrapper">
    <div>
      ahoj
    </div>
  </div>
  <div class="friends-container">
    <div class="content-area">

      <section class="panel friends-panel">
        <div class="section-title">Friend Requests</div>
        <div class="table-header">
          <div class="col-header">Username</div>
          <div class="col-header">Bio</div>
          <div class="col-header">Actions</div>
        </div>
        <div class="table-body">
          <div class="table-row" *ngFor="let item of requests" (click)="goToUser(item.id)">
            <div class="col">{{ item?.username }}</div>
            <div class="col">{{ item?.bio }}</div>
            <div class="col action-buttons">
              <button class="btn btn-success" (click)="acceptRequest(item.id)">Accept</button>
              <button class="btn btn-danger" (click)="cancelRequest(item.id)">Reject</button>
            </div>
          </div>
        </div>
      </section>

      <section class="panel friends-panel">
        <div class="section-title">Your Friends</div>
        <div class="table-header">
          <div class="col-header">Username</div>
          <div class="col-header">Bio</div>
          <div class="col-header">Nickname</div>
        </div>
        <div class="table-body">
          <div class="table-row" *ngFor="let item of friends" (click)="goToUser(item.id)">
            <div class="col">{{ item?.username }}</div>
            <div class="col">{{ item?.bio }}</div>
            <div class="col">Nickname Here</div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>

<app-side-panel
*ngIf="panelVisible"
(close)="closePanel()"
[user]="selectedUser"
[showActionButtons]="true">
</app-side-panel>