<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
  
<app-base-ui
  [title]="'About User'"
  [titleOn]="true"
  [searchOn]="true"
  [closeOn]="true"
  [closeRoute]="'/admin-all-users'">
</app-base-ui>

<div class="admin-panel" *ngIf="user; else loadingOrError">
  
    <div class="user-card">
      <div class="user-header">
        <div class="warning-icon">
          <img src="assets/images/stop-icon.svg" alt="Warning" class="stop-sign">
        </div>
        <div class="user-title">
          <h2 class="username"> {{ user.username }}</h2>
        </div>
      </div>
      
      <div class="user-details">
        <div class="details-grid">
          <div class="detail-row">
            <div class="detail-label">Email:</div>
            <div class="detail-value">{{ user.email }}</div>
            <div class="detail-label public-label">Public account:</div>
            <div class="detail-value" *ngIf="user.is_public">On</div>
            <div class="detail-value" *ngIf="!user.is_public">Off</div>
          </div>
          
          <div class="detail-row">
            <div class="detail-label">Phone:</div>
            <div class="detail-value">{{ user.phone_number ? user.phone_number : 'not set' }}</div>
            <div class="detail-label">Kids mode:</div>
            <div class="detail-value" *ngIf="user.safe_mode">On</div>
            <div class="detail-value" *ngIf="!user.safe_mode">Off</div>
          </div>
          
          <div class="detail-row">
            <div class="detail-label">Date Created:</div>
            <div class="detail-value">{{ user.created_At ? (user.created_At| date:'short') : 'not set' }}</div>
            <div class="detail-label">Time-out End:</div>
            <div class="detail-value">{{ user.timeout_End ? (user.timeout_End | date:'short') : 'not set' }}</div>
          </div>
          
          <div class="detail-row">
            <div class="detail-label"></div>
            <div class="detail-value"></div>
            <div class="detail-label">Ban End:</div>
            <div class="detail-value">{{ user.ban_End ? (user.ban_End | date:'short') : 'not set' }}</div>
          </div>
        </div>
      </div>
      
      <div class="action-buttons">
        <button class="btn action-btn report-btn">
          Report Logs ({{ reportCount }})
        </button>
        <button class="btn action-btn chat-btn">
          Public chat messages
        </button>
        <button class="btn action-btn timeout-btn">
          Time-out
        </button>
        <button class="btn action-btn ban-btn">
          Ban
        </button>
      </div>
    </div>
  </div>

  <ng-template #loadingOrError>
    <div class="loading">
      <p>Loading user...</p>
    </div>
  </ng-template>