WebApplication1/.vs/ProjectEvaluation/webapplication1.metadata.v9.bin
WebApplication1/.vs/ProjectEvaluation/webapplication1.metadata.v9.bin
WebApplication1/.vs/ProjectEvaluation/webapplication1.projects.v9.bin
WebApplication1/.vs/ProjectEvaluation/webapplication1.strings.v9.bin
WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
WebApplication1/.vs/WebApplication1/FileContentIndex/26b1e9fa-55ca-4e4c-9c8d-7c35009e44d1.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/35e5cf40-8f60-4044-938b-3a5f41759779.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/43d4b61c-60eb-4ff1-99eb-67739fa53dfb.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/4e10b84a-3041-4d45-9adf-eeced8c45269.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/714efe2c-fc3f-46a2-897d-73a4539feb19.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/963fd850-72b5-440d-8533-a33e2c94e7e8.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/af8eed82-dc25-43d2-9d39-fbcada2efee4.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/bf377fba-af7d-4b61-8a48-871591bb533f.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/e3a226fe-8020-41a6-ac51-3706f8898e2c.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/f5b0cb05-8c40-4fe0-a49a-0e70ed041f83.vsidx
WebApplication1/.vs/WebApplication1/v17/.futdcache.v2
WebApplication1/.vs/WebApplication1/v17/.suo
WebApplication1/.vs/WebApplication1/v17/DocumentLayout.json
WebApplication1/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfo.cs
WebApplication1/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfoInputs.cache
WebApplication1/WebApplication1/obj/Debug/net8.0/WebApplication1.assets.cache
WebApplication1/WebApplication1/obj/Debug/net8.0/WebApplication1.csproj.AssemblyReference.cache
WebApplication1/WebApplication1/obj/Debug/net8.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
WebApplication1/WebApplication1/obj/project.assets.json
WebApplication1/WebApplication1/obj/project.nuget.cache
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.g.props
WebApplication1/.vs/ProjectEvaluation/webapplication1.metadata.v9.bin
WebApplication1/.vs/ProjectEvaluation/webapplication1.projects.v9.bin
WebApplication1/.vs/ProjectEvaluation/webapplication1.strings.v9.bin
WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
WebApplication1/.vs/WebApplication1/FileContentIndex/24bafd0c-7b53-489b-8f6d-79a324bc8afe.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/4e10b84a-3041-4d45-9adf-eeced8c45269.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/963fd850-72b5-440d-8533-a33e2c94e7e8.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/af8eed82-dc25-43d2-9d39-fbcada2efee4.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/e3a226fe-8020-41a6-ac51-3706f8898e2c.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/f5b0cb05-8c40-4fe0-a49a-0e70ed041f83.vsidx
WebApplication1/.vs/WebApplication1/v17/.futdcache.v2
WebApplication1/.vs/WebApplication1/v17/.suo
WebApplication1/.vs/WebApplication1/v17/DocumentLayout.backup.json
WebApplication1/.vs/WebApplication1/v17/DocumentLayout.json
WebApplication1/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfo.cs
WebApplication1/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfoInputs.cache
WebApplication1/WebApplication1/obj/Debug/net8.0/WebApplication1.assets.cache
WebApplication1/WebApplication1/obj/Debug/net8.0/WebApplication1.csproj.AssemblyReference.cache
WebApplication1/WebApplication1/obj/Debug/net8.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
WebApplication1/WebApplication1/obj/project.assets.json
WebApplication1/WebApplication1/obj/project.nuget.cache
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.g.props
