  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

  <app-base-ui
  [title]="'Public Chats'"
  [titleOn]="true"
  [searchOn]="true"
  [closeOn]="true"
  [closeRoute]="'/admin-menu'"
  (searchChanged)="onSearchChanged($event)">
</app-base-ui>

  <div class="main-container">
    <div class="public-chats-container">
      <div class="content-area">

        <!-- Public Chats -->
        <section class="panel public-chats-panel">
          <div class="table-header">
            <div class="col-header">Name</div>
            <div class="col-header">Users</div>
            <div class="col-header">Active Users</div>
            <div class="col-header"></div>
          </div>
          <div class="table-body">
            <div class="table-row" *ngFor="let item of filteredChats">
              <div class="col"><i class="bi bi-pencil-fill pencil-icon"></i>{{ item.title }}</div>
              <div class="col">{{ item.users }}</div>
              <div class="col">{{ item.activeUsers }}</div>
              <div class="col"><button class="delete-button btn btn-danger" (click)="deleteChat(item.id)">
                <i class="bi bi-x"></i>
              </button></div>
            </div>
          </div>
        </section>


        <div class="chat-input-container fixed-bottom p-3 bg-dark">
          <div class="d-flex justify-content-center align-items-center">
            <input type="text" class="form-control chat-input text-center" id="newChatInput" placeholder="Enter new chat name..." aria-label="New Chat Name" name="chatName" [(ngModel)]="newChatName">
            <button class="add-button btn btn-primary ms-3" id="addChatButton" (click)="createChat()">ADD</button>
          </div>
        </div>
      </div>
    </div>
  </div>
