<div class="wrapper position-absolute top-50 start-50 translate-middle p-5 border-radius-5">
    
    <h2 class="text">
        Admin Menu
    </h2>

    <div class="d-grid gap-2">

        <button class="btn btn-lg" type="button" routerLink="/admin-all-users" routerLinkActive="active">View all users</button>

        <button class="btn btn-lg" type="button" routerLink="/public-chats" routerLinkActive="active">View all public chats</button>

        <button class="btn btn-lg" type="button" routerLink="/reports" routerLinkActive="active">Report log</button>

        <button class="btn btn-lg" type="button" routerLink="/database-stats" routerLinkActive="active">Database stats</button>

        <button class="btn btn-lg" type="button" routerLink="/main" routerLinkActive="active">Return</button>
    </div>
    
  </div>