<div class="position-absolute top-50 start-50 translate-middle text-bg-secondary p-5 border-radius-5">
    
    <h2>
        Admin Menu
    </h2>

    <div class="d-grid gap-2">

        <button class="btn btn-primary btn-lg" type="button" href="/admin-all-users" >View all users</button>

        <button class="btn btn-primary btn-lg" type="button">View all public chats</button>

        <button class="btn btn-primary btn-lg" type="button">Report log</button>

        <button class="btn btn-primary btn-lg" type="button">Database stats</button>

    </div>
    
  </div>