<app-base-ui
  [title]="'Reports'"
  [titleOn]="true"
  [searchOn]="true"
  [closeOn]="true"
  [closeRoute]="'/admin-menu'"
  (searchChanged)="onSearchChanged($event)">
</app-base-ui>

<div class="main-container">
  <div class="reports-container">
    <div class="content-area">

      <!-- All Users -->
      <section class="panel reports-panel">
        <div class="table-header">
          <div class="col-header">User</div>
          <div class="col-header">Reported user</div>
          <div class="col-header">Reason</div>
        </div>
        <div class="table-body">
          <div class="table-row" (click)="this.goToUser(item.reportedUserId)" *ngFor="let item of this.getReports()" style="cursor: pointer;">
            <div class="col username">{{ getUsername(item.userId) }}</div>
            <div class="col">{{ getUsername(item.reportedUserId) }}</div>
            <div class="col">{{ item.message }}</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
