<app-base-ui
  [title]="'Reports'"
  [titleOn]="true"
  [searchOn]="true"
  [closeOn]="true"
  [closeRoute]="'/admin-menu'">
</app-base-ui>

<div class="main-container">
  <div class="reports-container">
    <div class="content-area">

      <!-- All Users -->
      <section class="panel reports-panel">
        <div class="table-header">
          <div class="col-header">User</div>
          <div class="col-header">Reported user</div>
          <div class="col-header">Reason</div>
        </div>
        <div class="table-body">
          <div class="table-row" (click)="this.goToUser(item.reported_User_Id)" *ngFor="let item of data" style="cursor: pointer;">
            <div class="col username">{{ getUsername(item.user_Id) }}</div>
            <div class="col">{{ getUsername(item.reported_User_Id) }}</div>
            <div class="col">{{ item.message }}</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

  <app-side-panel
    *ngIf="panelVisible"
    (close)="closePanel()"
    [user]="selectedUser"
    [reportsCount]="reportsCount"
    [showActionButtons]="true">
  </app-side-panel>