$primary-bg: #202225;
$sidebar-bg: #202225;
$sidebar-header-bg: #2c2f34;
$sidebar-hover-bg: #292b2e;
$active-chat-bg: #2c2f34;
$chat-bg: #202225;
$input-bg: #2c2f34;
$message-input-bg: #444950;
$button-bg: #2c2f34;
$header-bg: #2c2f34;
$font-color: #ffffff;
$btn-hover: #444950;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: $primary-bg;
  color: $font-color;
  z-index: 101;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  width: 20vw;
  background-color: $sidebar-bg;
  display: flex;
  flex-direction: column;
  position: relative;
  border-right: 1px solid #4d4d4d;
}

.search-container {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  background-color: $sidebar-header-bg;
  gap: 10px;
  flex-shrink: 0;
}

.search-input {
  flex: 1;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background-color: $message-input-bg;
  color: $font-color;

  &::placeholder {
    color: rgb(170, 170, 170);
  }
}

.chat-list {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 7px;
  max-height: 70vh;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #2e2e2e;
  cursor: pointer;

  &:hover {
    background-color: $sidebar-hover-bg;
  }

  &.active {
    background-color: $active-chat-bg;
  }
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-info {
  margin-left: 10px;
  color: $font-color;
}

.chat-name {
  font-weight: bold;
}

.footer-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: $input-bg;
  border-top: 1px solid #3a434a;
  z-index: 10;
  width: 20vw;
}

.mode-toggle {
  left: 0;
  gap: 10px;
}

.mode-button {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  color: $font-color;
  font-weight: bold;
  cursor: pointer;
  background-color: #2c2f34;

  &.active {
    background-color: #444950;
  }

  &:hover {
    opacity: 0.7;
  }
}

.chat-window {
  flex: 1;
  background-color: $chat-bg;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  max-width: 80vw;
}

.chat-header {
  height: 60px;
  padding: 16px;
  background-color: $header-bg;
  border-bottom: 1px solid #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff; /* White text for readability */
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.chat-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.chat-actions {
  display: flex;
  gap: 14px;
}

.chat-action {
  background: none;
  border: none;
  color: $font-color;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 6px;

  &.active{
    color: #596072;
  }
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto; /* Uses browser's scrollbar */
  max-height: 70vh;
  max-width: 80vw;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  max-width: 50%;

  &.loginUser{
  margin-left: auto;
  }
}

.message-avatar {
  min-width: 36px;
  min-height: 36px;
  border-radius: 50%;
  background-color: #777;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.message-content {
  background-color: #444;
  padding: 10px 15px;
  border-radius: 12px;
  color: $font-color;
  font-size: 0.95rem;

  &.loginUser {
    background-color: #33394e;
  }
}

.message-sender {
  font-weight: bold;
  margin-bottom: 2px;
}

.message-time {
  font-size: 0.75rem;
  color: #bbb;
  text-align: right;
  margin-top: 5px;
}

.message-footer {
  width: 80vw;
  gap: 10px;
}

.message-input {
  flex: 1;
  padding: 10px 16px;
  border-radius: 25px;
  border: none;
  background-color: $message-input-bg;
  color: $font-color;
}

.btn-icon {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $button-bg;
  color: $font-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;

  &:hover {
    background-color: $btn-hover;
  }
}

.on-off-text {
  flex: 1;
  font-size: 1rem;
  color: #700a0a;
}
    
.on-off-button {
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: all 0.2s;

  &:hover {
    background-color: $btn-hover;
    border-color: $btn-hover;
    color: white;
  }
}