<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">



<div class="app-container">

  <app-base-ui
    [logOutOn]="true"
    [adminMenuOn]="true"
    [profileOn]="true"
    [friendsOn]="true">
  </app-base-ui>

  <div class="content">

    <div class="sidebar">
      <div class="search-container">
        <input type="text" class="form-control search-input clickAble" placeholder="Search" [(ngModel)]="this.searchChat">
        <button class="new-chat-btn btn btn-dark btn-icon">
          <i class="fas fa-plus"></i>
        </button>
      </div>

      <div class="chat-list">
        <div class="chat-item" *ngFor="let item of this.chats()" (click)="this.changeActiveChat(item)" [ngClass]="{'active': item.id === this.activeChat.id}">
          <div class="message-avatar" style="background-color: #435466">{{ item.title.charAt(0) }}</div>
          <div class="chat-info">
            <div class="chat-name"> {{ item.title }}
              <!--<button class="on-off-button" *ngIf="item.is_Public && this.public_chats" (click)="this.addUserToPublicChat(item.id)">
                {{ this.isUserInPublicChat(item.id) ? '✓' : '' }}</button>-->
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bar mode-toggle">
        <div class="mode-button" [ngClass]="{'active': !showPublicChats}" (click)="changeChatsToPrivate()">Private</div>
        <div class="mode-button" [ngClass]="{'active': showPublicChats}" (click)="changeChatsToPublic()">Public</div>
      </div>
    </div>

    <div class="chat-window">
      <div class="chat-header" *ngIf="this.activeChat.id">
        <button class="message-avatar clickAble" (click)="this.chatInfo()">{{ this.activeChat.title?.charAt(0) }}</button>
        <div class="chat-title">{{ activeChat.title }}</div>
        <div class="chat-actions" *ngIf="!this.showChatInfo">
          <button class="chat-action" [ngClass]="{'active': this.pinnedMessages}">
            <i class="fas fa-thumbtack clickAble" (click)="this.pinnedMessages = !this.pinnedMessages"></i>
          </button>
          <div class="search-container">
            <input type="text" class="form-control search-input clickAble" placeholder="Search" [(ngModel)]="this.searchMessage">
          </div>
        </div>
      </div>

      <div class="messages-container" #scrollMe style="overflow-y: auto;" *ngIf="!this.showChatInfo">
        <div class="message" *ngFor="let item of this.messages()" [ngClass]="{'loginUser': item.userId === this.logedInUser.id}">
          <div class="message-avatar" >{{ this.getUsername(item.userId).charAt(0) }}{{ item.userId }}</div>
          <div class="message-content" [ngClass]="{'loginUser': item.userId === this.logedInUser.id}">
            <div class="message-sender" >{{ this.getUsername(item.userId) }}</div>
            {{ item.content }}
            <div class="message-info" [ngClass]="{'loginUser': item.userId === this.logedInUser.id}">
            <div class="message-time">{{ item.time | date: "short" }}</div>
            <i class="fas fa-thumbtack message-pin" *ngIf="item.isPinned" ></i>
            </div>
          </div>
        </div>
      </div>

      <div class="user-info-wrapper">
        <div class="user-list" *ngIf="this.showChatInfo">
          <div *ngFor="let user of this.activeChatUsers" class="user-card">
            <div class="user-info">
              <h3>{{ user.username }} <span *ngIf="user.id !== this.logedInUser.id">(Nickname)</span></h3>
              <p><strong>Email:</strong> {{ user.email }}</p>
              <p><strong>Bio:</strong> {{ user.bio }}</p>
            </div>

            <div class="user-actions" *ngIf="user.id !== this.logedInUser.id">
              <button (click)="this.muteUser(user)" class="btn mute">Mute</button>
              <button (click)="this.showReportPopup(user.id)" class="btn ban">Report</button>
            </div>
          </div>
        </div>
      </div>

      <form class="form-log-in" *ngIf="!this.showPublicChats">
        <div class="footer-bar message-footer">
          <input type="text" class="message-input" placeholder="Write message" name="msg" [(ngModel)]="this.newMessage.content" required>
          <button class="btn btn-dark btn-icon send-button" (click)="this.sendMessage()">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="reportPopup" class="popup-overlay" *ngIf="this.reportPopup">
  <div class="popup">
    <h2>Report user</h2>
    <textarea id="reportReason" placeholder="Insert reason..." [(ngModel)]="this.reportReason"></textarea>
    <div class="popup-actions">
      <button (click)="this.reportUser()">Report</button>
      <button (click)="this.cancelReport()">Cancel</button>
    </div>
  </div>
</div>
