<div class="component-container">

  <app-base-ui
    [logOutOn]="true"
    [adminMenuOn]="true"
    [profileOn]="true"
    [friendsOn]="true">
  </app-base-ui>

  <div class="page-container">


    <!-- SIDEBAR -->

  <div class="sidebar">
    <div class="sidebar-header">

      <!-- Search -->

        <input type="text" placeholder="Search chats" [(ngModel)]="chatFilter" (ngModelChange)="searchForChat()">

      <!-- Filter btn -->

        <button mat-fab [matMenuTriggerFor]="menu">
          <mat-icon style="color: white">filter_alt</mat-icon>
        </button>
        <mat-menu #menu="matMenu" yPosition="below">
          <button mat-menu-item (click)="setChatFilter('All')">
            <mat-icon>list</mat-icon>
            <span>All</span>
          </button>
          <button mat-menu-item (click)="setChatFilter('Private')">
            <mat-icon>person</mat-icon>
            <span>Private</span>
          </button>
          <button mat-menu-item (click)="setChatFilter('Group')">
            <mat-icon>group</mat-icon>
            <span>Group</span>
          </button>
          <button mat-menu-item (click)="setChatFilter('Public')">
            <mat-icon>public</mat-icon>
            <span>Public</span>
          </button>
          <button mat-menu-item (click)="setChatFilter('Unread')" [disabled]="!areThereUnreadChats()">
            <mat-icon>mark_email_unread</mat-icon>
            <span>Unread messages</span>
          </button>
        </mat-menu>

      <!-- Create group btn -->

        <button mat-fab *ngIf="mode !== 'CreatingGC'" (click)="mode = 'CreatingGC'" [disabled]="mode === 'Public'">
          <mat-icon style="color: white">add</mat-icon>
        </button>

      <button mat-fab *ngIf="mode === 'CreatingGC'" (click)="mode = 'Private'">
        <mat-icon style="color: white">close</mat-icon>
      </button>
    </div>


    <!-- Chaty -->

    <ul>
      <div *ngIf="this.loadingChats" class="loading-overlay">
        <div class="spinner"></div>
      </div>

      <!-- Private chaty -->

      <ng-container *ngIf="mode === 'Private'">
        <li *ngFor="let chat of filteredUserChats" (click)="changeActiveChat(chat)" [class.selected]="activeChat.id === chat.id">
          <div class="message-avatar">{{ chat.title[0].toUpperCase() }}</div>
          <div class="name" matBadge="{{ chat.unreadMessages }}" matBadgeHidden="{{ chat.unreadMessages === 0 }}" matBadgeOverlap="false">{{ chat.title }}</div>

          <div class="right">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showInfoAboutChat(chat)">
                <mat-icon>info</mat-icon>
                <span>Info</span>
              </button>
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Leave chat</span>
              </button>
            </mat-menu>
          </div>
        </li>
      </ng-container>


      <!-- Public chaty -->

      <ng-container *ngIf="mode === 'Public'">
        <li *ngFor="let chat of allPublicChats">
          <div class="message-avatar">{{ chat.title[0].toUpperCase() }}</div>
          <div class="name">{{ chat.title }}</div>
          <mat-slide-toggle [checked]="isUserInPublicChat(chat.id)" (change)="publicChatLogic(chat.id, $event.checked)"></mat-slide-toggle>
        </li>
      </ng-container>


      <!-- Tvoreni groupy -->

      <ng-container *ngIf="mode === 'CreatingGC'">
        <li *ngFor="let user of loggedInUsersFriends">
          <div class="message-avatar">{{ user.username[0].toUpperCase() }}</div>
          <div class="name">{{ user.username }}</div>
          <mat-slide-toggle [checked]="false" (change)="onUserToggle(user.id, $event.checked)"></mat-slide-toggle>
        </li>
      </ng-container>
    </ul>


    <!-- Sidebar footer -->

    <div class="sidebar-footer">

      <!-- Private/Public -->

      <ng-container *ngIf="mode !== 'CreatingGC'">
        <mat-button-toggle-group
          [(value)]="mode"
          [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()"
          class="buttons"
        >
          <mat-button-toggle class="button" value="Private">Private</mat-button-toggle>
          <mat-button-toggle class="button" value="Public">Public</mat-button-toggle>
        </mat-button-toggle-group>
      </ng-container>

      <!-- Input tvorba groupy -->

      <ng-container *ngIf="mode === 'CreatingGC'">
        <div class="creating-group-chat-footer">
          <input type="text" placeholder="Group name" name='newGc' [(ngModel)]="newGroupName">
          <button mat-fab (click)="createGroup()">
            <mat-icon style="color: white">add</mat-icon>
          </button>
        </div>
      </ng-container>

    </div>
  </div>

  <div class="chat-window">

    <!-- Chat -->

    <div *ngIf="this.loadingMessages" class="loading-overlay">
      <div class="spinner"></div>
    </div>

    <div class="chat-header">

      <!-- Title -->

      <div class="left-items" *ngIf="activeChat?.title">
        <div class="message-avatar">
          {{ activeChat.title[0].toUpperCase() }}
        </div>
        <div class="title">{{ activeChat.title }}</div>
      </div>

      <!-- Pin btn a search -->

      <div class="right-items">
      <button mat-fab [class.active]="showOnlyPinnedMessages" (click)="showOnlyPinnedMessages = !showOnlyPinnedMessages; refreshMessages();">
        <mat-icon style="color: white">push_pin</mat-icon>
      </button>

        <input type="text" placeholder="Search messages" [(ngModel)]="messageFilter" (ngModelChange)="searchForMessage()">
    </div>
    </div>

    <!-- Messages -->

    <div *ngIf="mode === 'Private'" class="messages" #scrollMe>
      <div
        *ngFor="let msg of filteredMessages; let i = index"
        class="message"
        [ngClass]="msg.userId === this.loggedInUser.id ? 'right' : 'left'"
      >


        <!-- Message ne ode me -->

        <ng-container *ngIf="msg.userId !== this.loggedInUser.id; else fromMe">

          <form (click)="goToUser(msg.userId)" style="cursor: pointer">
            <img *ngIf="this.userHasAvatar(msg.userId); else showInitial" [src]="'http://localhost:5000/' + this.getProfilePicture(msg.userId)" alt="Profile picture" class="message-avatar"/>

            <ng-template #showInitial>
              <div class="message-avatar">
                {{ this.getUsername(msg.userId).charAt(0).toUpperCase() }}
              </div>
            </ng-template>
          </form>
          <div class="bubble">
            <div>
              {{ this.getUsername(msg.userId) }}
            </div>
            {{ msg.content }}
            <span class="message-label">
              <mat-icon class="pin" *ngIf="msg.isPinned">push_pin</mat-icon>
              <div class="date"> {{ msg.time | date: 'short' }} </div>
            </span>
          </div>

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  disabled>
              <mat-icon>edit</mat-icon>
              <span>Edit Message</span>
            </button>
            <button mat-menu-item (click)="pinMessage(msg.id)">
              <mat-icon>{{ msg.isPinned ? 'cancel' : 'push_pin' }}</mat-icon>
              <span>{{ msg.isPinned ? 'Unpin message' : 'Pin message' }}</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>delete</mat-icon>
              <span>Delete message</span>
            </button>
          </mat-menu>

        </ng-container>


        <!-- Message ode me -->

        <ng-template #fromMe>

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editMessage(msg.id)">
              <mat-icon>edit</mat-icon>
              <span>Edit Message</span>
            </button>
            <button mat-menu-item (click)="pinMessage(msg.id)">
              <mat-icon>{{ msg.isPinned ? 'cancel' : 'push_pin' }}</mat-icon>
              <span>{{ msg.isPinned ? 'Unpin message' : 'Pin message' }}</span>
            </button>
            <button mat-menu-item (click)="deleteMessage(msg.id)">
              <mat-icon style="color: red">delete</mat-icon>
              <span  style="color: red">Delete message</span>
            </button>
          </mat-menu>

          <div class="bubble">
            <div>
              {{ this.getUsername(msg.userId) }}
            </div>
            {{ msg.content }}
            <span class="message-label">
              <mat-icon class="pin" *ngIf="msg.isPinned" style="color: rgba(255, 255, 255, 40%)">push_pin</mat-icon>
              <div class="date"> {{ msg.time | date: 'short' }} </div>
            </span>
          </div>
          <form (click)="goToUser(msg.userId)" style="cursor: pointer">
            <img *ngIf="this.userHasAvatar(msg.userId); else showInitial" [src]="'http://localhost:5000/' + this.getProfilePicture(msg.userId)" alt="Profile picture" class="message-avatar"/>
            <ng-template #showInitial>
              <div class="message-avatar">
                {{ this.getUsername(msg.userId).charAt(0).toUpperCase() }}
              </div>
            </ng-template>
          </form>
        </ng-template>
      </div>
      <div *ngIf="typingUsers.size > 0">
      <div *ngFor="let user of typingUsers">
        <div *ngIf="user !== loggedInUser.id">
          <img *ngIf="this.userHasAvatar(user); else showInitial" [src]="'http://localhost:5000/' + this.getProfilePicture(user)" alt="Profile picture" class="message-avatar-typing"/>{{ this.getUsername(user) }} is typing...
            <ng-template #showInitial>
              <div class="message-avatar-typing">
                {{ this.getUsername(user).charAt(0).toUpperCase() }}
              </div>
            </ng-template>
        </div>
      </div>
    </div>
  </div>

    <!-- Napsani message -->

    <form>
      <div *ngIf="mode === 'Private'" class="input-area">
        <input type="text" placeholder="Type a message..." name='msg' [(ngModel)]="newMessage.content" (input)="onTyping()">
        <button mat-fab (click)="sendMessage()">
          <mat-icon style="color: white">send</mat-icon>
        </button>
      </div>
    </form>

    <!-- public placeholder -->

    <div *ngIf="mode === 'Public'" class="public-placeholder">
      Select a public chat on the left to begin!
      <div class="arrow"><=</div>
    </div>

    <div *ngIf="mode === 'CreatingGC'" class="public-placeholder">
      Create your own group chat!
      <div class="arrow"><=</div>
    </div>
  </div>
</div>
</div>

<app-chat-info-side-panel
  *ngIf="chatPanelVisible"
  [chatInfo]="activeChatPanel"
  [userEditing]="userIsOwner()"
  [adminView]="false"
  [userActions]="userIsOwner()"
  [inMain]="true"
  (close)="closeChatPanel()"
  (changes)="editChat($event)"
  (delete)="deleteChat($event)"
  (reportUserEmmiter)="showReportPopup($event)"
  (removeUserEmitter)="removeUserFromChat($event)"
  (usernameOutput)="goToUser(getUserId($event))">
</app-chat-info-side-panel>

<app-user-info-side-panel
  *ngIf="userPanelVisible"
  [user]="selectedUser"
  [adminView]="true"
  [userEditing]="false"
  (close)="closeUserPanel()">
</app-user-info-side-panel>

<div id="reportPopup" class="popup-overlay" *ngIf="this.reportPopup">
  <div class="popup">
    <h2>Report user</h2>
    <textarea id="reportReason" placeholder="Insert reason..." [(ngModel)]="this.reportReason"></textarea>
    <div class="popup-actions">
      <button (click)="this.reportUser()">Report</button>
      <button (click)="this.cancelReport()">Cancel</button>
    </div>
  </div>
</div>