<div class="info-row">
  <label class="info-label">{{ label }}</label>


  <ng-container *ngIf="editable; else readonly">
    <input
      [(ngModel)]="value"
      (ngModelChange)="onChange($event)"
      class="info-input"
      [type]="label === 'Password' ? 'Password' : 'text'"
    />
  </ng-container>

  <ng-template #readonly>
    <ng-container *ngIf="this.value != ''; else placeholder">
      <div class="info-value">{{ value }}</div>
    </ng-container>
  </ng-template>

  <ng-template #placeholder>
    <div class="info-placeholder">No data available</div>
  </ng-template>
</div>
