<div class="login position-absolute top-50 start-50 translate-middle">
  <div class="logo">
    <h1 class="text-wrapper-3">VaultCom
      <img class="message-circle" src="https://c.animaapp.com/m91ki1p2SO1Byh/img/message-circle.svg" alt="VaultCom logo" />
    </h1>
  </div>

  <div class="login-wrapper">
    <div class="overlap-group">
      <div class="overlap">
        <form class="form-log-in" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
          <!-- Email/Username Input -->
          <div class="input-field">
            <label for="username" class="label">Email/Username</label>
            <input 
              type="text" 
              name="username" 
              id="username" 
              class="input" 
              placeholder="Enter your email/username" 
              required 
              [(ngModel)]="username" 
              #usernameInput="ngModel">
            <!-- Error message for username -->
            <div *ngIf="usernameInput.invalid && usernameInput.touched" class="error-message">Field required</div>
          </div>

          <!-- Password Input -->
          <div class="input-field">
            <label for="password" class="label">Password</label>
            <input 
              type="password" 
              name="password" 
              id="password" 
              class="input" 
              placeholder="Enter your password" 
              required 
              [(ngModel)]="password" 
              #passwordInput="ngModel">
            <!-- Error message for password -->
            <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">Password required</div>
          </div>

          <!-- Submit Button -->
          <div class="button-group">
            <button type="submit" class="button" [disabled]="loginForm.invalid">Sign In</button>
          </div>

          <!-- Link to Register and Forgot Password -->
          <div class="link-group">
            <a class="text-link" routerLink="/register" routerLinkActive="active">Forgot password?</a>
            <a class="text-link register" routerLink="/register" routerLinkActive="active">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
