<div class="login position-absolute top-50 start-50 translate-middle">
  <div class="logo">
    <h1 class="text-wrapper-3">VaultCom
      <img class="message-circle" src="https://c.animaapp.com/m91ki1p2SO1Byh/img/message-circle.svg" alt="VaultCom logo" />
    </h1>
  </div>

  <div class="login-wrapper">
    <div class="overlap-group">
      <div class="overlap">
        <form class="form-log-in" [formGroup]="form" (submit)="save()">
          <div class="input-field">
            <label for="email" class="label">Email/Username</label>
            <input #usernameInput class="input form-control" formControlName="username" placeholder="Enter your email/username" [ngClass]="{'shake-error': errorMessage}" required>
          </div>
          <div class="input-field">
            <label for="password" class="label">Password</label>
            <input #passwordInput type="password" id="password" class="input form-control" formControlName="password" placeholder="Enter your password" [ngClass]="{'shake-error': errorMessage}" required>
          </div>
          <div class="button-group">
            <button type="submit" class="button">Sign In</button>
          </div>
          <div class="error-message" *ngIf="errorMessage">
            Přihlášení se nezdařilo. Zkontroluj přihlašovací údaje.
          </div>
          <div class="link-group">
            <a class="text-link" routerLink="/register" routerLinkActive="active">Forgot password?</a>
            <a class="text-link register" routerLink="/register" routerLinkActive="active">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
