
    <div class="row g-0">
      <div class="col-md-4">
        <div class="profiel-picture">
        </div>-
        <div class="profile-image-container">
          <img src="https://c.animaapp.com/m91lm1h7eKpzaT/img/pfp.png" alt="Profile Picture" class="img-fluid rounded-circle profile-image">
          <img src="https://c.animaapp.com/m91lm1h7eKpzaT/img/edit-2.svg" alt="Edit" class="edit-profile-image">
        </div>
      </div>
      <div class="col-md-8">
          <div class="profile-item-first">
            <img src="https://c.animaapp.com/m91lm1h7eKpzaT/img/edit-1.svg" alt="Edit" class="edit-profile">
            <h2 class="profile-item-text">Your profile</h2>
          </div>
          <div class="profile-item">
            <img src="https://c.animaapp.com/m91lm1h7eKpzaT/img/user.svg" alt="User" class="profile-icon">
              <div class="profile-item-text">
                <h3>Ethan123</h3>
                <p>Username</p>
              </div>
          </div>
          <div class="profile-item">
            <img src="https://c.animaapp.com/m91lm1h7eKpzaT/img/at-sign.svg" alt="Email" class="profile-icon">
            <div class="profile-item-text">
              <h3>ethan&#64;gmail.com</h3>
              <p>Email</p>
            </div>
          </div>
          <div class="profile-item">
            <img src="https://c.animaapp.com/m91lm1h7eKpzaT/img/phone.svg" alt="Phone" class="profile-icon">
            <div class="profile-item-text">
              <h3>+1 212-555-1234</h3>
              <p>Phone number</p>
            </div>
          </div>
          <div class="profile-item">
            <img src="https://c.animaapp.com/m91lm1h7eKpzaT/img/info.svg" alt="Bio" class="profile-icon">
            <div class="profile-item-text">
              <h3>Not doing great.</h3>
              <p>Bio</p>
            </div>
          </div>
      </div>
    </div>
        <h2 class="mb-5">Settings</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked>
                <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
              </div>
              <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="kidsModeSwitch">
                <label class="form-check-label" for="kidsModeSwitch">Kids Mode</label>
              </div>
              <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="publicAccountSwitch" checked>
                <label class="form-check-label" for="publicAccountSwitch">Public Account</label>
              </div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-outline-secondary mb-2 w-100">Change Email</button>
              <button class="btn btn-outline-secondary mb-2 w-100">Change Password</button>
              <button class="btn btn-outline-secondary mb-2 w-100">Change Phone number</button>
              <button class="button-left">Log Out</button>
            </div>
          </div>