@import "../../variables.scss";

* {
  color: black;
}

.panel {
  width: 100%;
  background-color: $primary-color;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.header {
  //vsechno zabere
  position: fixed;
  width: 100vw;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-color;
  padding: 10px 20px;

  .left-section {
    display: flex;
    align-items: center;
  }
  
  .title {
    font-size: 1.5em;
    margin-right: 10px;
  }
  
  .logo {
    width: 50px;
    height: auto;
  }
  
  .close-button {
    text-decoration: none;
    font-size: 1.2em;
  }
}

.profile-panel {
  display: flex;
  align-items: stretch; // <- umoznuje children se stretchnout uplne nahoru
  height: 300px; // <- na tomhle je linked velikost pfp A panelu
  padding: 20px;

  .profile-image {
    width: auto;
    height: auto;
    border-radius: 20%;
  }
  
  .user-info-panel {
    @extend .panel;
    margin-left: 20px;

    .item {
      display: flex;
      align-items: center;
      width: 100%;
  
      .icon {
        flex: 0 0 auto; // <- zleva
        width: 42px; // <- main velikost tohle
        height: auto;
      }
  
      .text {
        text-align: center;
        display: flex;
        flex-direction: column; // <- na sobe ty texty budou
        font-size: auto;
        flex: 1; // <- zabere si misto ktery ma v tom flexu

        .top-text {
          font-size: 1.2em;
          font-weight: bold;
        }
    
        .bottom-text {
          font-size: 0.7em; // <- 70% od parenta takze .text
          color: rgb(40, 40, 40);
        }
      }
    }

    .item-lined {
      @extend .item; 
      border-bottom: 1px solid #ffffff;
      padding-bottom: 8px;
      margin-bottom: 10px;
    }
  }
}

.settings-panel{
  @extend .panel;
  justify-content: space-between;
  display: flex;
  background-color: $secondary-color;

  .on-off-panel {
    margin-right: auto;

    .on-off-item {
      display: flex;
      align-items: center; // <- tohle jen vertikalne
      border-radius: 10px;
      padding: 5px 10px; // <- x, y ofc
      margin: 10px;
      border: 1px solid white;
      width: 250px;
      
      .on-off-text {
          flex: 1;
          font-size: auto;
      }
  
      .on-off-button {
          cursor: pointer;
          background-color: $secondary-color;
          width: 30px;
          height: 30px;
          border: 3px solid black; // <- nejakej basic border tam je a vypada hnusne
          border-radius: 5px;
      }
    }
  }

  .edit-panel {
    margin-left: auto;

    .edit-item {
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 5px 10px; 
      margin: 10px;
      border: 1px solid white;
      width: 250px; 


      .edit-text {
        flex: 1;
        font-size: auto;
      }

      .edit-icon {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 5px;
      }
    }
  }


}

.logout-btn{
  cursor: pointer;
  margin-bottom: auto;
  background-color: red;
  width: auto;
  height: 30px;
  border: 3px solid black; // <- nejakej basic border tam je a vypada hnusne
  border-radius: 5px;
  padding: 0px 5px;
}


/*
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }
  
  .settings-panel {
    background-color: #7e7e78;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 10px;
    padding: 20px;
}

  .button-left {
    background-color: #FF0000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 630px;
    left: 310px;
    cursor:alias;
}

  .my-profile {
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  .profile-image-container {
    position: relative;
    padding: 2rem;
  }
  
  .form-check-label {
    color:#000000;
  }

  .profile-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  .edit-profile-image {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .user-profile {
    background-color: #f8f9fa;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: #6c757d;
  }
  
  .edit-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
  }

  .edit-profile {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
  }
  
  .profile-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 12px;
    margin-top: 15px;
}

.profile-item-first {
  display: grid;  
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-item-text p {
  text-align: center;
}
.profile-item-text h3 {
  text-align: center;
}

.btn {
  text-align: center;
  border: 2px solid rgb(165, 165, 165);
}
  
  .profile-icon {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    align-items: left;
  }

  .profile-item-first h2 {
    font-size: 1.5rem;
  }
  
  .profile-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  
  .profile-item p {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 0;
  }
  
  .settings {
    background-color: #e9ecef;
  }
  
  @media (max-width: 768px) {
    .profile-image-container {
      text-align: center;
      border-radius: 25%;
    }
  
    .edit-profile-image {
      position: static;
      margin-top: 1rem;
    }
  
    .user-profile, .settings {
      padding: 1rem !important;
    }
}
    */