@import "../../variables.scss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }

  .button-left {
    background-color: #FF0000;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 600px;
    left: 300px;
    cursor:alias;
}

  .my-profile {
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  .profile-image-container {
    position: relative;
    padding: 2rem;
  }
  
  .form-check-label {
    color:#000000;
  }

  .profile-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  .edit-profile-image {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .user-profile {
    background-color: #f8f9fa;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: #6c757d;
  }
  
  .edit-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
  }

  .edit-profile {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
  }
  
  .profile-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 12px;
    margin-top: 15px;
}

.profile-item-first {
  display: grid;  
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #000000 !important;
}

.mb-5 {
  text-align: left;
  color: #000000 !important;
}
.form-check-label {
  text-align: left;
  color: #000000 !important;
}
.profile-item-text p {
  text-align: center;
  color: #000000 !important;
}
.profile-item-text h3 {
  text-align: center;
  color: #000000 !important;
}

.btn {
  text-align: center;
  color: #000000 !important;
  border: 2px solid rgb(165, 165, 165);
}
  
  .profile-icon {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    align-items: left;
  }

  .profile-item-first h2 {
    font-size: 1.5rem;
  }
  
  .profile-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  
  .profile-item p {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 0;
  }
  
  .settings {
    background-color: #e9ecef;
  }
  
  @media (max-width: 768px) {
    .profile-image-container {
      text-align: center;
      border-radius: 25%;
    }
  
    .edit-profile-image {
      position: static;
      margin-top: 1rem;
    }
  
    .user-profile, .settings {
      padding: 1rem !important;
    }
}