<div class="info-row">
  <label class="info-label">{{ label }}</label>

  <ng-container *ngIf="editable; else readonly">
    <ng-container *ngIf="values.length > 0; else noValues">
      <input
        *ngFor="let value of values; let i = index"
        [(ngModel)]="values[i]"
        (ngModelChange)="onChange($event, i)"
        class="info-input"
        type="text"
      />
    </ng-container>
  </ng-container>

  <ng-template #readonly>
    <ng-container *ngIf="values.length > 0; else noValues">
      <div *ngFor="let value of values" class="info-value">
        <div (click)="outputUsername(value)">{{value}}</div>
        <div class="user-actions">
          <button class="button btn-user-action">Mute</button>
          <button class="button btn-user-action" (click)="reportUser(value)">Report</button>
          <button class="button btn-user-action" (click)="removeUser(value)" *ngIf="userActions">Remove</button>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #noValues>
    <div class="info-placeholder">No data available</div>
  </ng-template>
</div>
