<div class="header bg-dark p-3">
  <div class="d-flex justify-content-between align-items-center w-100">
    <!-- Logo and Chat Icon -->x
    <div class="logo fs-3">
      VaultCom
      <i class="bi bi-chat-fill ms-2"></i>
    </div>

    <!-- Search Bar Section -->
    <div class="d-flex align-items-center w-50">
      <!-- Search Bar -->
      <div class="search-container d-flex align-items-center flex-grow-1">
        <input type="text" class="form-control search-input" placeholder="Search">
        <button class="search-btn btn btn-dark ms-2">
          <i class="bi bi-search"></i>
        </button>
      </div>

      <!-- All Users Title and Close Button -->
      <div class="d-flex align-items-center ms-4">
        <div class="all-users-title fs-4">All Users</div>
        <button class="close-btn btn btn-dark p-2" routerLink="/admin-menu" routerLinkActive="active">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div>
  <router-outlet/>
</div>
<li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">login</a></li>
<li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Sign in</a></li>
<li><a routerLink="/admin-all-users" routerLinkActive="active" ariaCurrentWhenActive="page">admin users</a></li>
<li><a routerLink="/admin-menu" routerLinkActive="active" ariaCurrentWhenActive="page">admin menu</a></li>
<li><a routerLink="/admin-user-info" routerLinkActive="active" ariaCurrentWhenActive="page">admin user info</a></li>
<li><a routerLink="/main" routerLinkActive="active" ariaCurrentWhenActive="page">main</a></li>
<li><a routerLink="/public-chats" routerLinkActive="active" ariaCurrentWhenActive="page">admin public-chats</a></li>
<li><a routerLink="/reports" routerLinkActive="active" ariaCurrentWhenActive="page">reports</a></li>
<li><a routerLink="/user-friends" routerLinkActive="active" ariaCurrentWhenActive="page">friends</a></li>
<li><a routerLink="/user-profile" routerLinkActive="active" ariaCurrentWhenActive="page">profile</a></li>
<li><a routerLink="/base" routerLinkActive="active" ariaCurrentWhenActive="page">base</a></li>
<li><a routerLink="/database-stats" routerLinkActive="active" ariaCurrentWhenActive="page">database</a></li>