<div class="container">
  <router-outlet/>
</div>
<li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">login</a></li>
<li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Sign in</a></li>
<li><a routerLink="/admin-all-users" routerLinkActive="active" ariaCurrentWhenActive="page">admin users</a></li>
<li><a routerLink="/admin-menu" routerLinkActive="active" ariaCurrentWhenActive="page">admin menu</a></li>
<li><a routerLink="/admin-user-info" routerLinkActive="active" ariaCurrentWhenActive="page">admin user info</a></li>
<li><a routerLink="/main" routerLinkActive="active" ariaCurrentWhenActive="page">main</a></li>
<li><a routerLink="/public-chats" routerLinkActive="active" ariaCurrentWhenActive="page">admin public-chats</a></li>
<li><a routerLink="/reports" routerLinkActive="active" ariaCurrentWhenActive="page">reports</a></li>
<li><a routerLink="/user-friends" routerLinkActive="active" ariaCurrentWhenActive="page">friends</a></li>
<li><a routerLink="/user-profile" routerLinkActive="active" ariaCurrentWhenActive="page">profile</a></li>
<li><a routerLink="/base" routerLinkActive="active" ariaCurrentWhenActive="page">base</a></li>
<li><a routerLink="/database-stats" routerLinkActive="active" ariaCurrentWhenActive="page">database</a></li>