<div class="overlay" (click)="closePanel()" (ngModelChange)="closePanel()"></div>

<div class="side-panel">
  <button class="close-button" (click)="closePanel()" (ngModelChange)="closePanel()" aria-label="Close panel">&times;</button>
  <h2>User Info</h2>

  <div class="info-group">
    <div class="info-row">
      <span class="info-label">Username:</span>
      <span class="info-value">{{ user?.username }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Bio:</span>
      <span class="info-value">{{ user?.bio || '---'  }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Email:</span>
      <span class="info-value">{{ user?.email || '---'  }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Date Created:</span>
      <span class="info-value">{{ user?.createdAt }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Ban Ends:</span>
      <span class="info-value">{{ user?.banEnd }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Reports Count:</span>
      <span class="info-value">{{ reportsCount }}</span>
    </div>
  </div>

  <div class="button-group" *ngIf="activeUser?.isAdmin">
    <button class="action-button timeout-button" [ngClass]="{'active': !banSelected && isTimeoutOrBanSelected}" (click)="onTimeoutClick()">Time-out</button>
    <button class="action-button ban-button" [ngClass]="{'active': banSelected && isTimeoutOrBanSelected}" (click)="onBanClick()">Ban</button>
  </div>

  <div *ngIf="isTimeoutOrBanSelected" class="datetime-picker">
    <label for="datetime">Select Date and Time:</label>
    <input type="datetime-local" [(ngModel)]="selectedDateTime" class="form-control">
    <div class="button-group">
      <button class="btn btn-primary" (click)="onConfirm()">Confirm</button>
      <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
