<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   
    <div class="all-users-section">
        <div class="all-users-title">All Users</div>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search">
            <button class="search-btn">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <button class="close-btn" routerLink="/admin-menu" routerLinkActive="active">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
<div class="container mt-4">
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Report count</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Ethan123</td><td>ethan&#64;gmail.com</td><td>123</td></tr>
                <tr><td>Victor123</td><td>smithvictor45&#64;gmail.com</td><td>0</td></tr>
                <tr><td>Katka_Novakova</td><td>katkanovakova&#64;gmail.com</td><td>5</td></tr>
                <tr><td>SuperGamer777</td><td>supergamer777&#64;gmail.com</td><td>777</td></tr>
                <tr><td>DeviousChatter</td><td>anonymousguypro&#64;gmail.com</td><td>26</td></tr>
                <tr><td>Bobecek</td><td>bobecek&#64;gmail.com</td><td>3</td></tr>
                <tr><td>car.seller</td><td>carseller&#64;superdomain.com</td><td>800</td></tr>
                <tr><td>Delta</td><td>delta&#64;gmail.com</td><td>1456202</td></tr>
                <tr><td>IM_DUMB_USER_BAN_ME_PLS</td><td>horribleguy&#64;gmail.com</td><td>999</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
                <tr><td>James</td><td>james&#64;gmail.com</td><td>1</td></tr>
            </tbody>
        </table>
    </div>
</div>