$header-bg: #202225;
$body-bg: #181a1b;
$table-header-bg: #2f3436;
$table-row-bg: #2a2f32;
$table-row-hover: #36393f;
$btn-color: #7289da;
$border-color: #444;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $body-bg;
  margin: 0;
  padding: 0;
  color: #ffffff;
  overflow-y: auto;
}

.header {
  background-color: $header-bg;
  color: white;
  width: 100%;  /* Full width */
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  font-weight: 700;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.logo i {
  margin-left: 8px;
  font-size: 1.5rem;
}

.search-container {
  position: relative;
  width: 100%;
}

.search-input {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  background-color: #333;
  color: white;
  width: 100%; /* Ensures it fills available space */

  &::placeholder {
    color: rgb(137, 136, 136);
  }
}

.search-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
}

.all-users-title {
  font-size: 1.5rem; /* Adjusted font size for more space */
  font-weight: bold;
  color: white;
  margin-left: 20px; /* Adds some space before the title */
  white-space: nowrap; /* Prevent text from wrapping */
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 8px;
  margin-left: 10px;
  border-radius: 6px;
}

.close-btn:hover {
  background-color: #444;
}

.table-container {
  background-color: #2a2f32;
  border-radius: 12px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background-color: $table-header-bg;
  color: white;
  text-align: left;
  padding: 12px 20px;
  font-weight: 600;
}

.table td {
  padding: 12px 20px;
  border-bottom: 1px solid $border-color;
  background-color: $table-row-bg;
}

.table tbody tr:hover {
  background-color: $table-row-hover;
}

.username {
  text-decoration: underline;
  color: #fff;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
}

.table-container::-webkit-scrollbar {
  width: 10px;
}

.table-container::-webkit-scrollbar-track {
  background: #888;
}

.table-container::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 12px;
}
