<div class="overlay" (click)="closePanel()"></div>

<div class="side-panel" [ngClass]="{ 'closing': isClosing }">
  <button class="close-button" (click)="closePanel()" aria-label="Close panel">&times;</button>

  <h2>Chat Info</h2>

  <div class="info-group">
    <div class="info-row">
      <app-side-panel-row
        [label]="'Chat name'"
        [(value)]="chatInfo.title"
        [editable]="userEditing"
        (valueChange)="onChangeChatName($event)">
      </app-side-panel-row>
    </div>

    <div class="info-row" *ngIf="chatInfo.description !== null && !this.inMain">
      <app-side-panel-row
        [label]="'Description'"
        [(value)]="chatInfo.description"
        [editable]="userEditing"
      (valueChange)="onChangeChatDesc($event)">
      </app-side-panel-row>
    </div>

    <div class="info-row" *ngIf="!adminView">
      <app-side-panel-row
        [label]="'You'"
        [(value)]="chatInfo.activeUserUsername"
        [editable]="false">
      </app-side-panel-row>
    </div>

    <app-side-panel-row-list
      [label]="'Users:'"
      [values]="getUsernames()"
      [editable]="false"
      [userList]="true"
      [userActions]="userActions"
      (usernameOutput)="outputUsername($event)"
      (removeUserEmitter)="removeUser($event)"
      (reportUserEmmiter)="reportUser($event)">
    </app-side-panel-row-list>
  </div>

  <div class="button-group" *ngIf="userEditing">
    <button class="action-button save-button" (click)="saveChanges()">Save</button>
    <button class="action-button cancel-button" (click)="cancelChanges()">Cancel</button>
    <button class="action-button delete-button" (click)="deleteChat()">Delete Chat</button>
  </div>

</div>
