<div class="register position-absolute top-50 start-50 translate-middle">
  <div class="logo">
    <h1 class="text-wrapper-3">VaultCom
      <img class="message-circle" src="https://c.animaapp.com/m91ki1p2SO1Byh/img/message-circle.svg" alt="VaultCom logo" />
    </h1>
  </div>

  <div class="register-wrapper">
    <div class="overlap-group">
      <div class="overlap">
        <form class="form-register" [formGroup]="form" (submit)="save()">
          <div class="input-field">
            <label for="name" class="label">Name</label>
            <input class="input" formControlName="username" placeholder="Enter your name">
          </div>
          <div class="input-field">
            <label for="email" class="label">Email/Tel</label>
            <input class="input" formControlName="email" placeholder="Enter your email/telephone number">
          </div>
          <div class="input-field">
            <label for="password" class="label">Password</label>
            <input class="input" type="password" formControlName="password" placeholder="Enter your password">
          </div>
          <div class="input-field">
            <label for="confirmPassword" class="label">Repeat Password</label>
            <input class="input" type="password" formControlName="rPassword" placeholder="Re-enter your password" required>
          </div>
          <div class="button-group">
            <button type="submit" class="button">Register</button>
          </div>

          <div class="link-group">
            <a class="text-link" routerLink="/login" routerLinkActive="active">Log in</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>